<form method="post" action="{{ url_for('create_workout') }}">
    <h3>Add a new workout:</h3>
    <div class="form-row">
        <div class="form-field">
            <label for="date">Date</label>
            <input type="date" id="date" name="date" value="{{ default_date.isoformat() }}" required>
        </div>

        <div class="form-field">
            <label for="name">Name</label>
            <input type="text" id="name" name="name">
        </div>
    </div>

    <div class="form-row">
        <button type="submit" class="button small">Save</button>
        <button
            type="button"
            hx-on="click: document.closeForm('#new-workout-form-container')"
            class="button small secondary"
        >
            Cancel
        </button>
    </div>
</form>
