{% extends "base.html" %}

{% block title %}All Workouts{% endblock %}

{% block content %}
<header id="page-header" class="flex-row-spaced">
  <h1>Workout Log</h1>
  <button
    class="button"
    type="button"
    hx-get="/workout/new-form"
    hx-target="#new-workout-form-container"
    hx-swap="innerHTML"
  >
    + Log Workout
  </button>
</header>

<section id="new-workout-form-container"></section>

{% if workouts %}
  <section class="page-grid">
    {% for workout in workouts %}
      <a class="card workout-card"
        href="{{ url_for('view_workout',
            workout_date=workout.date,
            workout_id=workout.workout_id
        ) }}">

        <div class="workout-date muted">
          {{ workout.date.strftime("%d %b %Y") }}
        </div>
        <h3 class="workout-name">{{ workout.name }}</h3>

        <div class="tags-group">
          {% for tag in workout.tags or [] %}
            <span class="tag">{{ tag }}</span>
          {% endfor %}
        </div>

      </a>
    {% endfor %}
  </section>
{% else %}
  <p class="muted">No workouts logged yet.</p>
  <button
    class="button"
    type="button"
    hx-get="/workout/new-form"
    hx-target="#new-workout-form-container"
    hx-swap="innerHTML"
  >
    Log your first workout
  </button>
{% endif %}
{% endblock %}



